* {
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 0.7em;
}

#header {
    
}

#main-left {
    width: 45vw;
    height: 100vh;
    /* text-align: center; */
    
}

#main-right {
    width: 55vw;
    height: 100vh;
    background-image: url("/img/login-bg.jpg");
    background-size: cover;
}

#left-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    text-align: center;
}

#signup {
    margin-top: 30px;
}

#right-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    margin-top: 40%;
}

.textbox {
    width: 80%;
    background-color: black;
}

.textbox, .button1, .button2 {
    border: 1px white solid;
    border-radius: 0;
}

#signup a {
    color: white;
    text-decoration: none;
}

.button1 {
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: orange;
    border: orange;
    padding: 5px;
    color: white;
    font-size: 0.8em;
}

.button2 {
    width: 60%;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1em;
}

.button3 {
    width: 80%;
    padding: 8px;
    background-color: transparent;
    color: white;
}

#right-container p {
    font-size: 2em;
    margin-bottom: 10px;
}

#footer {
    margin-top: 70px;
}

#footer a {
    color: orange;
}